* {
  box-sizing: border-box;
}

header {
  background-color: rgba(0,0,0, .1);
}


h3{
  font-family: 'Allura', cursive;
  font-size: 2.3em;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-left: 20px;
}

nav ul li a {
  font-family: 'Ropa Sans', sans-serif;
  font-size: 2em;
  text-decoration: none;
  color: black;
  display: block;
}

nav ul li a:hover {
  color: #210CE8;
}










